@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

@if(Model.Count() == 0)
{
    <p>No Movie exist.</p>
}
else
{ 
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><b>@ViewBag.Title</b></th>
                <th><b>Genre</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model)
            {
                <tr>
                    <td>@Html.ActionLink(m.Name, "details", "movies", new { id = m.Id }, null)</td>
                    <td>@m.Genre.Name</td>
                </tr>

            }
        </tbody>
    </table>
}

@Html.ActionLink("Add new Movie", "Create", "Movies")
